<html>
  <head>
    <title>Contact</title>
    <!-- Judulna -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar sticky-top navbar-expand-md bg-nav">
      <div class="container">
        <a class="navbar-brand mx-4" href="#"><img
            src="../public/images/logo.png"
            alt=""
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link me-3 ms-5"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="/project" target="_blank">Add
                Project</a>
            </li>
          </ul>
          <a class="btn btn-dark mx-4" href="#" target="_blank">Contact Me</a>
        </div>
      </div>
    </nav>
    <!-- Form Contact -->
    <div class="container d-flex justify-content-center">
      <form>
        <div class="text-center my-3">
          <h1>GET IN TOUCH</h1>
        </div>
        <div class="mb-3">
          <label for="inputName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            placeholder="Your Name..."
          />
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="inputPhone" class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            id="inputPhone"
            placeholder="0821-19...."
          />
        </div>
        <div class="mb-3">
          <label for="chooseSubject" class="form-label">Subject</label>
          <select
            class="form-select"
            id="chooseSubject"
            aria-label="Default select example"
          >
            <option hidden="hiden" value="" selected>Select menu</option>
            <option value="Talk">Talk</option>
            <option value="Let's Collaboration">Let's Collaboration</option>
            <option value="Create Project">Create Project</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="inputMessage" class="form-label">Your Message</label>
          <textarea class="form-control" id="inputMessage" rows="3"></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-dark float-end"
          onclick="submitForm()"
        >
          Submit
        </button>
      </form>
    </div>
    <script src="../public/js/contact.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>